<div class="container">
  <h1 class="aaa">Customer</h1>


  <div>
    <span> xin chao: {{name}}</span>
  </div>
  <div>
    <span>ban da: {{age}} tuoi</span>
  </div>

    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control" id="" [(ngModel)]="name" name="cus1_name" required>
    </div>

    <div class="form-group">
      <label >Age</label>
      <input type="text" class="form-control"    [(ngModel)]="age" name="cus1_age" required>
    </div>

  <button (click)="tangtuoi()">tang tuoi</button>
  <button (click)="giamtuoi()">giam tuoi</button>

  <!-- <button (click) = "themvaomang()">them vao mang</button> -->

    <!-- <div class="form-group">
      <label for="job">Job</label>
      <select class="form-control" id="job" [(ngModel)]="customer1.job" name="cus1_job" required>
        <option *ngFor="let job of jobList" [value]="job">{{job}}</option>
      </select>


      <div *ngFor="let job of jobList">
        <li> {{job}}</li>
      </div>
    </div> -->

    <span *ngIf="age <18; then Tuecondition; else Flasecondition"></span>

    <ng-template #Tuecondition ><span appBold >Bạn dưới 18 tuổi</span></ng-template>
    <ng-template #Flasecondition ><span>Bạn trên hoặc bằng 18 tuổi</span></ng-template>



</div>
